body {
	margin: 0;
	height: 100vh;
	width: 100vw;
}

#data-form {
	padding: 8px;
	width: 400px;

	background-color: #1d1d1d1d;

	position: absolute;
	left: 16px;
	top: 16px;
}

#export-wrapper {
	padding: 8px;

	background-color: #1d1d1d1d;

	position: absolute;
	right: 16px;
	bottom: 16px;
}

.point {
	width: 10px;
	height: 10px;
	border-radius: 50%;

	position: absolute;

	background-color: blue;
}
